:root {
  --color-theme: rgb(145, 145, 145);
}

#root{
  position:fixed; top:0px; left:0px;bottom:0px; right:0px;  margin:0px;
}
.general {
  overflow: hidden;
  background-color: #eff3fc;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.wrapper{
  display: inline-block;
  height: 100%;
  width: 100%;
}
.list-container {
  margin: 0px auto;
  width: 400px;
  border: none;
  border-color: var(--color-theme);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 2px 4px 4px rgba(146, 146, 146, 0.25);
}
.list-container .lists {
  display: flex;
}
.list-container .lists li {
  list-style: none;
}
.list-container .lists li a {
  width: 200;
  text-decoration: none;
  margin-right: 0px;
  margin-left: 0px;
  padding: 4px;
  border-radius: 10px;
  transition: 0.3s;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container .lists li {
  text-align: center;
  color: var(--color-theme);
  width: 47.5%;
  margin-left: 1%;
  border-radius: 10px;
}

.list-container .lists li a:hover, .list-container .lists li a:focus{
  background: linear-gradient(90deg, #007e40 0%, #00b855 100%);
  border-radius: 8px;
  color: #ffffff;
}

.list-container .lists li:hover, .list-container .lists li:focus{
  background: var(--color-theme);
  color: #ffffff;
}

.formulario {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

label {
  color: var(--color-theme);
}

input {
  height: 30px;
  width: 400px;
  border: none;
  border-radius: 10px;
  color: var(--color-theme);
  margin-bottom: 1rem;
  box-shadow: 2px 4px 4px rgba(146, 146, 146, 0.25);
}

.recuperar {
  display: flex;
  justify-content: right;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  color: var(--color-theme);
}

.containerIzquierdo {
  display: table;
  float: left;
}
.containerIzquierdo, .containerDerecho{
  width: 50%;
  height: 100%;
}
.containerDerecho{
left: 50%;
background-color: #eff3fc;
float: left;
}

.cardlogin.division .lists {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.cardlogin.division a {
  display: block;
}
.iconosCuentas {
  color: #007e40;
}

.iconosCuentas:hover, .iconosCuentas:focus{
  color: #ffffff;
}

.list-container .lists li a:hover .iconosCuentas,
.list-container .lists li a:hover .botonCardLogin,
.list-container .lists li a:focus .iconosCuentas,
.list-container .lists li a:focus .botonCardLogin{
  color: #ffffff;
}
.list-container .lists li a:hover, .list-container .lists li a:focus{
  border-radius: 8px;
}

.cardlogin.division .list-container,
#CardNumber,
#Pin,
.btn-acceder {
  height: 48.67px;
}
.btn-acceder {
  padding-top: 17.33px;
  padding-bottom: 31.34px;
  background: linear-gradient(90deg, #007e40 0%, #00b855 100%);
  border-radius: 8px;
  height: 30px;
  width: 400px;
  color: #ffffff;
  border-width: 0px;
}

.btn-acceder:hover {
  background: #ffffff;
  color: #000000;
  border-color: #000000;
}

.logoMasTitulo {
  width: 400px;
  margin: 0px auto;
  margin-bottom: 70px;
}

.logoMasTitulo img {
  float: left;
}

.titulo {
  width: 361px;
  margin-left: 50px;
}

.sombra {
  width: 393px;
  height: 23px;
  background: linear-gradient(
    90deg,
    rgba(0, 126, 64, 0.65) 0%,
    rgba(0, 184, 85, 0.65) 100%
  );
  filter: blur(9px);
  border-radius: 8px;
  position: relative;
  z-index: -1;
  top: -15px;
  left: 5px;
}

.btn-acceder:hover + .sombra {
  background: #eff3fc;
}

.slogan{ 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  /*font-size: 24px;*/
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
  
  /* Tertiary Color Text */
  
  color: #303030;
}

.slogan2, .slogan3{

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
/*font-size: 80px;*/
font-size: 40px;
line-height: 94px;
text-transform: uppercase;

}
/* Secondary Color */
.slogan2{
color: #FFD101;
top: 283px;
float: left;
}
.slogan3{
  color: #007E40;
  top: 383px;
  clear: both;
  }
.slogan2 p,.slogan3 p{
  margin: 0;
}
.group102{
  float:left;
  margin-top: 27px;
  margin-left: 35px;
}

.group102 img{
  width: 40px;
}
.logoIzquierda{
  /*width: 594px;*/
  width: 297px;
}

.logoIzquierda img{
  margin: 0 auto;
/*  width: 89px;*/
  width: 44.5px;
  display: block;
}

.containerIzquierdo{
  background-image: url("../img/portada.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.redesSociales{
  margin-left: 95px;
  margin-top: 30px;
}

.linkedin, .instagram{
  margin-left: 50px;
}

.clearDiv{
  clear: both;
}

.img.division {
  width: 70%;
  margin: 0 auto;
  margin-top: 10%;
}

.facebook img, .linkedin img, .instagram img{
  width: 24px;
}

@media only screen and (max-width: 937px) {
  .containerIzquierdo {
    display: none;
  }
  .container{
    width: 408px;
    margin: auto;
  }
  .cardlogin.division{
    width: 100vw;
  }
  .recuperar{
    display: block;
  }
}

@media only screen and (max-width: 408px) {
  .wrapper, .cardlogin.division, .list-container, .container, .btn-acceder, input{
    width: 100vw;
  }
}

@media only screen and (max-width: 361px) {
  .primeraLinea::after{
    content: "\a";
    white-space: pre;
}
.logoMasTitulo{
  width: 100vw;
}
.logoMasTitulo img{
  float: inherit;
  display: block;
  margin: auto;
}
.primeraLinea{
  width: 92.02px;
  margin: 0 auto;
  display: block;
}
.segundaLinea{
  width: 167.08px;
  margin: 0 auto;
    display: block;
}
.titulo{
  width: 100vw;
  margin-left: 0px;
}
.formulario{
  display: block;
}
}